*{
    margin:0;
    padding:0;
    background-color: rgb(230, 200, 187);
   
}
h1{
    text-align: center;
    margin: 20px;
}

.choice img{
    height:100px;
    width:100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
   
    
}
.choice{
    height:150px;
    width:150px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
 
}
.choice:hover{
  cursor:pointer;
  background-color:#2b874e;

}

.scoreboard{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:200px;
    width:500px;
    margin:0 auto;
    font-size: 2rem;
    gap:10px;
  
}

.score{
   
    color:rgb(66, 62, 62);
   
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.message-container{
    font-size: 2rem;
    height:100px;
    background-color: beige;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#message{
    background-color: #000;
    color:#fff;
    font-size: 1.5rem;
    border-radius: 10px;
    display: inline;
    padding:9px;
    cursor: pointer;

}

#userScore,#compScore{
    font-size: 4rem;
}